*{
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

}
:root{
    --main-color: #bc9667;
    --secondary-color : #edeae3;
    --text-color: #1b1b1b;
    --big-color : #fff;

    --box-shadow: 2px 2px 10px 14px rgb(14 55 54/ 10%);

}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid black; 
    padding: 18px 100px ;
    background-color: var(--text-color);
    transition: 0.5s linear;
    
}
.logo img{
    width: 60px;
}
.navbar{
    display:inline-flex
}
.navbar a{
    padding: 8px 17px;
    color: var(--big-color) ;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
} 
.navbar a:hover{
background-color: var(--main-color);
border-radius: 0.2rem;
transition: 0.5s all linear;

}
.header-icon{
    font: size 22px;
    cursor: pointer;
    z-index: index 10000;
    display: flex;
    column-gap:0.8em; 
}
.search-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--big-color);
    width:100%

}
.search-box:active{
top: 110;
box-shadow: var(--box-shadow);
transition-property: top;
transition-duration: 0.25s;
transition-timing-function: linear;
}


.search-box input{
    padding: 20px;
    border : none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--main-color);


}
.search-box input:placeholder{
    font-size: 1rem;
    font-weight:500;
}